@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

.App {
  font-family: "Signika", sans-serif;
  background: black;
  color: white;
  min-height: 100vh;
  text-transform: uppercase;
}
